.container {
    width: 90%;
    margin: 0 auto;
}

.container-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
}


/*  Aside  */

aside {
    width: 100%;
    background: #d42d17;
    padding: 10px;   
    color: #fafafa; 
}

.aside-heading {
    text-align: center;
    margin: 30px 0;
}

.aside-heading h2 {
    font-size: 4rem;
}

.aside-heading h4 {
    font-size: 2rem;
}

.aside-contact {
    margin: 30px 0;
    font-size: 1.25rem;
}

.aside-contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}

.aside-contact-links p {
    margin: 0 15px;
}

.aside-language {
    text-align: center;
    margin: 20px 0;
    font-size: 1.25rem;
}

.aside-language h4 {
    margin: 10px 0 5px 0;
    font-size: 1.25rem; 
}

.aside-language-languages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/*  Main */

main {
    width: 100%;
    background: #fafafa;
    padding: 30px;
}

article {
    border-bottom: 4px solid #d42d17;
    padding: 10px 0;
}

article:last-child {
    border: none;
}

.section-subheading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px; 
}

.subheading {
    flex-grow: 1;
    margin-bottom: 0;
}

.p-left-margin {
    margin-left: 15px;
}

.uni-name {
    margin-top: none;
}



/* Links */

.link-black {
    color: black;
}

.link-black:hover {
    color: #d42d17
}

.link-white {
    color: white;
}

.link-white:hover {
    color: #fafafa;
}


/*   Footer  */

footer {
    width: 100%;
    background: #d42d17;
    text-align: center;
    padding: 25px;
    color: white;
}


/**************************

        Large Screen

**************************/

@media (min-width: 1280px) {
    .container {
        width: 1120px;
    }

    .container-flex {
        flex-direction: row;
    }
    
    aside {
        width: 25%;
    }

    .aside-heading h4 {
        margin: 60px 0;
    }

    .aside-contact {
        margin-top: 100px;
        margin-left: 20px;
    }

    .aside-contact-links {
        flex-direction: column;
        justify-content: flex-start;
    }

    .aside-contact-links p {
        margin: 7.5px 0;
    }

    .aside-language {
        text-align: left;
        margin-top: 60px;
        margin-left: 20px;
    }

    .aside-language-languages {
        flex-direction: column;
        justify-content: flex-start;
    }

    .aside-language-languages p {
        margin: 5px 0 0 0;
    }

    main {
        width: 75%
    }
}



/*******************

        Icons

*******************/

.icon {
    background-size: 18px;
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 7.5px;
    position: relative;
    top: 2.5px;
}
.profileIcon {
    background-image: url('../assets/cvicons/businessman.png');
}

.workIcon {
    background-image: url('../assets/cvicons/briefcase.png');
}

.emailIcon {
    background-image: url('../assets/cvicons/email.png');
}

.contactIcon {
    background-image: url('../assets/cvicons/addressbook.png');
}

.githubIcon {
    background-image: url('../assets/cvicons/github.png');
}

.educationIcon {
    background-image: url('../assets/cvicons/graduate.png');
}

.webIcon {
    background-image: url('../assets/cvicons/internet.png');
}

.linkedInIcon {
    background-image: url('../assets/cvicons/linkedin.png');
}

.projectIcon {
    background-image: url('../assets/cvicons/presentation.png');
}

.skillsIcon {
    background-image: url('../assets/cvicons/skills.png');
}

.languageIcon {
    background-image: url('../assets/cvicons/translation.png');
}